@{
    ViewData["Title"] = "Home Page";
    @using EFDataAccessLibrary.Models
    @using EFDataAccessLibrary.ViewModels
    @model EFDataAccessLibrary.ViewModels.WeatherDataViewModel

}

<div class="text-center">
    <h1 class="display-4">Climbing locations</h1>
    <p>This page shows the weather data from locations around Victoria Australia.</p>

    <br /> <br />

    <h1 class="display-7">Weather Data East Oakleigh</h1>
    <table class="table table-striped table-bordered table-hover">


        <tr><td> Closest Weather Station </td>      <td>@Html.DisplayFor(m => m.weatherDataMelbourne.name)</td></tr>
        <tr><td> Last update </td>                  <td>@Html.DisplayFor(m => m.weatherDataMelbourne.local_date_time)</td></tr>
        <tr><td> Cloud </td>                        <td>@Html.DisplayFor(m => m.weatherDataMelbourne.cloud)</td></tr>
        <tr><td> Apparent Temperature</td>          <td>@Html.DisplayFor(m => m.weatherDataMelbourne.apparent_t)</td></tr>
        <tr><td> Air Temperature </td>              <td>@Html.DisplayFor(m => m.weatherDataMelbourne.air_temp)</td></tr>
        <tr><td> Dew point </td>                    <td>@Html.DisplayFor(m => m.weatherDataMelbourne.dewpt)</td></tr>
        <tr><td> Air Pressure </td>                 <td>@Html.DisplayFor(m => m.weatherDataMelbourne.press)</td></tr>
        <tr><td> Rain trace </td>                   <td>@Html.DisplayFor(m => m.weatherDataMelbourne.rain_trace)</td></tr>
        <tr><td> Real humidity </td>                <td>@Html.DisplayFor(m => m.weatherDataMelbourne.rel_hum)</td></tr>
        <tr><td> Weather </td>                      <td>@Html.DisplayFor(m => m.weatherDataMelbourne.weather)</td></tr>
        <tr><td> Wind Direction </td>               <td>@Html.DisplayFor(m => m.weatherDataMelbourne.wind_dir)</td></tr>
        <tr><td> Wind speed </td>                   <td>@Html.DisplayFor(m => m.weatherDataMelbourne.wind_spd_kmh)</td></tr>


    </table>

    <br /> <br />




    <h1 class="display-7">Weather Data Mount Alexander</h1>
    <table class="table table-striped table-bordered table-hover">


        <tr><td> Closest Weather Station  </td>     <td>@Html.DisplayFor(m => m.weatherDataMountAlex.name)</td></tr>
        <tr><td> Last update </td>                  <td>@Html.DisplayFor(m => m.weatherDataMountAlex.local_date_time)</td></tr>
        <tr><td> Cloud </td>                        <td>@Html.DisplayFor(m => m.weatherDataMountAlex.cloud)</td></tr>
        <tr><td> Apparent Temperature</td>          <td>@Html.DisplayFor(m => m.weatherDataMountAlex.apparent_t)</td></tr>
        <tr><td> Air Temperature </td>              <td>@Html.DisplayFor(m => m.weatherDataMountAlex.air_temp)</td></tr>
        <tr><td> Dew point </td>                    <td>@Html.DisplayFor(m => m.weatherDataMountAlex.dewpt)</td></tr>
        <tr><td> Air Pressure </td>                 <td>@Html.DisplayFor(m => m.weatherDataMountAlex.press)</td></tr>
        <tr><td> Rain trace </td>                   <td>@Html.DisplayFor(m => m.weatherDataMountAlex.rain_trace)</td></tr>
        <tr><td> Real humidity </td>                <td>@Html.DisplayFor(m => m.weatherDataMountAlex.rel_hum)</td></tr>
        <tr><td> Weather </td>                      <td>@Html.DisplayFor(m => m.weatherDataMountAlex.weather)</td></tr>
        <tr><td> Wind Direction </td>               <td>@Html.DisplayFor(m => m.weatherDataMountAlex.wind_dir)</td></tr>
        <tr><td> Wind speed </td>                   <td>@Html.DisplayFor(m => m.weatherDataMountAlex.wind_spd_kmh)</td></tr>


    </table>


    <br /> <br />

    <h1 class="display-7">Weather Data Grampians</h1>
    <table class="table table-striped table-bordered table-hover">


        <tr><td> Last update </td>                    <td>@Html.DisplayFor(m => m.weatherDataGrampians.local_date_time)</td></tr>
        <tr><td> Closest Weather Station  </td>       <td>@Html.DisplayFor(m => m.weatherDataGrampians.name)</td></tr>
        <tr><td> Cloud </td>                          <td>@Html.DisplayFor(m => m.weatherDataGrampians.cloud)</td></tr>
        <tr><td> Apparent Temperature</td>            <td>@Html.DisplayFor(m => m.weatherDataGrampians.apparent_t)</td></tr>
        <tr><td> Air Temperature </td>                <td>@Html.DisplayFor(m => m.weatherDataGrampians.air_temp)</td></tr>
        <tr><td> Dew point </td>                      <td>@Html.DisplayFor(m => m.weatherDataGrampians.dewpt)</td></tr>
        <tr><td> Air Pressure </td>                   <td>@Html.DisplayFor(m => m.weatherDataGrampians.press)</td></tr>
        <tr><td> Rain trace </td>                     <td>@Html.DisplayFor(m => m.weatherDataGrampians.rain_trace)</td></tr>
        <tr><td> Real humidity </td>                  <td>@Html.DisplayFor(m => m.weatherDataGrampians.rel_hum)</td></tr>
        <tr><td> Weather </td>                        <td>@Html.DisplayFor(m => m.weatherDataGrampians.weather)</td></tr>
        <tr><td> Wind Direction </td>                 <td>@Html.DisplayFor(m => m.weatherDataGrampians.wind_dir)</td></tr>
        <tr><td> Wind speed </td>                     <td>@Html.DisplayFor(m => m.weatherDataGrampians.wind_spd_kmh)</td></tr>


    </table>
</div>
